body {
   margin:0 auto;
   width:100%;
   text-decoration: none;
}

.header {

}

.header_logo {
    display: flex;

}

.header_nav {
    display: flex;
}

.header_nav a{

}

.header.menu {
    
}

.header.menu ul{
	text-decoration: none;
}

.main {
    flex-direction: row;

}